* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
.info-page {
  min-height: 100vh;
  width: 100vw;
  background: #666;            /* SAME grey as Figma */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}


.info-card {
  width: 85%;
  max-width: 900px;
  background: #666;
  padding: 30px 40px 40px;
  color: #fff;
}


.info-title {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
}

/* FORM GROUP */
.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

/* INPUTS */
.form-group input,
.form-group textarea {
  width: 60%;
  padding: 8px 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.form-group textarea {
  width: 100%;
  resize: none;
}

/* RADIO BUTTONS */
.radio-group {
  display: flex;
  gap: 25px;
  margin-top: 6px;
}

.radio-group label {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* BUTTON */
.save-btn {
  margin: 30px auto 0;
  display: block;
  background: #2f7f8f;
  color: white;
  border: none;
  padding: 10px 26px;
  font-size: 15px;
  cursor: pointer;
}

.save-btn:hover {
  background: #256b78;
}
